doctype html
html(lang="ru")
    head
        meta(charset ='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='description' content='')
        meta(name='viewport' content='initial-scale=1.0, width=device-width')
        link(rel='stylesheet' href='css/styles.min.css')
        title hexa

    body
        
        include parts/header
                    
        include parts/banner
         
        
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
      
        script(src='js/scripts.min.js')