section#slider.banner
        input#slide1(type="radio" name="slider" checked)
        input#slide2(type="radio" name="slider")
        input#slide3(type="radio" name="slider")
        input#slide4(type="radio" name="slider")
       
        #banner.banner-black-box
            #overflow.slider-box
                .container.slide-container-mod
                    .slider-ttl Фотообои
                    .slider-list
                        article 
                            span.slider-info Для зала
                            .slider-price от 
                                span 50 
                                strong $/
                                | m
                                sup 2
                        article
                            span.slider-info Для зала
                            .slider-price от 
                                span 50 
                                strong $/
                                | m
                                sup 2
                        article
                            span.slider-info Для кухни
                            .slider-price от 
                                span 50 
                                strong $/
                                | m
                                sup 2
                        article
                            span.slider-info Для кухни
                            .slider-price от 
                                span 50 
                                strong $/
                                | m
                                sup 2

            .slider-ideas
                .container
                    .slider-ideas-txt Более 6000 идей фотообоев
                        br 
                        | для ГОСТИНОЙ
                    a.btn.btn--ideas(href="/") смотреть идеи

            .slider-controls
                .container
                    .slider-controls-box
                        #controls
                            label(for="slide1")
                            label(for="slide2")
                            label(for="slide3")
                            label(for="slide4")
                        #active
                            label(for="slide1")
                            label(for="slide2")
                            label(for="slide3")
                            label(for="slide4")
                            
            .services
                .container
                    .row
                        .col-sm-6.col-lg-3.services-item
                            img(src="img/shape-a.png", alt="services")
                            h3 Печатаем что угодно
                            p Все фотообои мы изготавливаем под заказ на собственном оборудовании. По этому можем напечатать совершенно все,что вы захотите
                        .col-sm-6.col-lg-3.services-item
                            img(src="img/shape-b.png", alt="services")
                            h3 Любые размеры
                            P Профессиональное оборудование позволяет напечатать фотообои совершенно любого размера. Можем заклеить как часть, таки все стену без ограничений.
                        .col-sm-6.col-lg-3.services-item
                            img(src="img/shape-c.png", alt="services")
                            h3 Изготовление за 1 день
                            P В среднем, изготовление одних фотообоев среднего размера занимает не более одного дня!
                        .col-sm-6.col-lg-3.services-item
                            img(src="img/shape-d.png", alt="services")
                            h3 Без посредников
                            P Мы имеем в наличие все необходимое оборудование для самостоятельного изготовления фотообоев. А значит вы не переплачиваете посредникам.


            
