header.header
    .header-top
        .container
            .header-box
                .header-box-logo
                    a.logo(href="/") Logo
                    span.header-context Фабрика фотообоев в КИЕВЕ
                        br
                        | изготовЛение фотообоев

                .header-box-call
                    a.header-number(href="tel:0442782100") 044 278 21 00
                    a.btn(href="") Обратный звонок

                .hamburger.hamburger--spring.js-hamburger
                  .hamburger-box
                    .hamburger-inner
    nav.nav
        .container
            ul.nav-list
                li
                    a(href="") главная
                    span |
                li
                    a(href="") для детcкой
                    span | 
                li
                    a(href="") для спальни
                    span |
                li
                    a(href="") для кухни
                    span |
                li
                    a(href="") контакты
